.stars-size {
    font-size: 0.75rem;
}
.item-subtitle {
    font-size: 0.8rem;
    letter-spacing: normal;
}
.item-subtitle:hover {
    color: crimson !important;
}
.item-title {
    font-size: 1.2rem;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.item-title:hover {
    color: crimson !important;
}
.item-price {
    font-size: 1rem;
    letter-spacing: normal;
    cursor: pointer;
}
.item-description {
    letter-spacing: normal;
    word-spacing: 0.3rem;
    font-size: 12px;
}
