.nav-link,
.logout-link {
    color: rgba(108, 117, 125);
}
.nav-link:hover {
    color: white !important;
}
.navbar-background {
    background-color: rgba(0, 0, 0, 0.9);
}
.links-container {
    height: 0rem;
    overflow: hidden;
    transition: all 0.6s ease;
}
.navbar-logo {
    letter-spacing: 3px;
}

.nav .category-link {
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.nav .category-link::after {
    margin-left: 1rem;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4rem;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}
.nav .category-link:hover::after {
    transform: scaleX(1);
}
.logout-container .logout-link {
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.logout-container .logout-link::after {
    margin-left: 1rem;
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 4rem;
    height: 2px;
    background-color: crimson;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}
.logout-container .logout-link:hover::after {
    transform: scaleX(1);
}
@media screen and (min-width: 992px) {
    .links-container {
        height: auto !important;
        width: 100%;
    }
}
