@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap");
html {
    scroll-behavior: smooth;
}
body {
    letter-spacing: 2px;
    font-family: "Bitter", serif;
}
